@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
	width: 18px;
	background: #0F0F10;
}

*::-webkit-scrollbar-track {
	background-color: #1E1E23;
	border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 100px;
	border: 5px solid transparent;
	background-clip: content-box;
	background-color: #FFFFFF;
}